services/user-bff/src/main/resources/xsd/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://netflix.oss/user"
           targetNamespace="http://netflix.oss/user"
           elementFormDefault="qualified">

    <xs:element name="GetUserStatusRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetUserStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="servedBy" type="xs:string"/>
                <xs:element name="mtlsVerified" type="xs:boolean"/>
                <xs:element name="clientCN" type="xs:string"/>
                <xs:element name="backendVersion" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
